<div class="b-gallery">
    <div class="row">
        <div class="col-12 col-md-4 col-lg-3 col-xxl-2" *ngFor ="let item of listBooks">
            <div class="b-gallery__item">
                <h3>{{item.libro}}</h3>
                <p>{{item.descripcion}}</p>
            </div>
        </div>
    </div>

</div>
autora: "J. K. Rowling"
descripcion: "El día de su cumpleaños, Harry Potter descubre que es hijo de dos conocidos hechiceros, de los que ha heredado poderes mágicos. Debe asistir a una famosa escuela de magia y hechicería, donde entabla una amistad con dos jóvenes que se convertirán en sus compañeros de aventura. Durante su primer año en Hogwarts, descubre que un malévolo y poderoso mago llamado Voldemort está en busca de una piedra filosofal que alarga la vida de quien la posee."
fecha_de_lanzamiento: "26 de junio de 1997"
id: 1
libro: "Harry Potter y la piedra filosofal"
titulo_original: "Harry Potter and the Sorcerer's Stone"
