<div class="c-gallery"> 
    <div class="row">
        <div class="col-12 col-md-4 col-lg-3 col-xxl-2" *ngFor = "let item of list">
            <div class="c-gallery__item">
                <a routerLink ="/Characters/{{item.id}}">
                    <h3>{{item.personaje}}</h3>
                </a>
                    <img src="{{item.imagen}}" alt="{{item.personaje}}">
            </div>  
        </div>
    </div>

</div>
