<nav >
    <a routerLink ="">Home</a>
    <a routerLink ="Characters">Characters</a>
    <a routerLink ="Spells">Spells</a>
    <a routerLink ="Books">Books</a>
    <a routerLink ="About">About</a>
</nav>
