<div class="s-gallery">
    <div class="row">
        <div class="col-12 col-md-4 col-lg-3 col-xxl-2" *ngFor ="let item of listSpells">
            <div class="s-gallery__item">
                <h3>{{item.hechizo}}</h3>
                <span>{{item.uso}}</span>
            </div>
        </div>
    </div>

</div>
